---
import { SEO, type Props as SeoProps } from "astro-seo"
import { ViewTransitions } from "astro:transitions"
import TopNav from "@/components/TopNav.astro"
import GlobalNav from "@/components/GlobalNav.astro"

import "@/styles/globals.css"
import { initializeDB } from "@/lib/db"

interface Props {
  seo?: SeoProps
}

const DB = Astro.locals.runtime.env.DB
const db = initializeDB(DB)

//TODO: handle site settings

const siteSettings = await db.query.settings.findFirst({
  where: (setting, { eq }) => eq(setting.key, "settings"),
})

const { seo } = Astro.props
const title = seo?.title ?? import.meta.env.PUBLIC_SITE_TITLE
const description = seo?.description ?? import.meta.env.PUBLIC_SITE_DESCRIPTION
const titleTemplate = `%s | ${seo?.titleTemplate ?? siteSettings?.value?.siteTagline ?? import.meta.env.PUBLIC_SITE_TITLE ?? ""}`
const titleDefault =
  seo?.titleDefault ??
  siteSettings?.value?.siteTitle ??
  import.meta.env.PUBLIC_SITE_TITLE ??
  "Teknodaim"
---

<html lang="en">
  <head>
    <SEO
      {...seo}
      title={title}
      description={description}
      titleTemplate={titleTemplate}
      titleDefault={titleDefault}
      charset="utf-8"
      noindex={true}
    />
    <link rel="icon" type="image/svg+xml" href="/icon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <ViewTransitions fallback="swap" />
    <script
      is:inline
      type="text/partytown"
      async
      src={`https://www.googletagmanager.com/gtag/js?id=G-P4Y1YPM7SR`}></script>
    <script is:inline type="text/partytown">
      {
        ;`
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());
          gtag("config", "G-P4Y1YPM7SR");
          `
      }
    </script>
  </head>
  <body class="font-400 font-sans antialiased">
    <GlobalNav />
    <div
      class="w-[calc(100% - 92px)] layout-background-image relative ml-0 md:ml-[92px]"
    >
      <TopNav />
      <div class="relative px-0 lg:px-16">
        <slot />
      </div>
    </div>
  </body>
</html>
